<!-- about.ejs -->
<div class="container">
    <h2>Hakkımızda</h2>
    <p>Web sitemiz hakkında daha fazla bilgi edinin.</p>
    <form>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email adresi</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Mesajınız</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </form>
</div>
